<div class="container-sm" style="margin-top: 20px;">
    <div class="d-flex justify-content-between">
        <h1>Liste des films :</h1>
        <button class="btn btn-success" [routerLink]="['add']">Ajouter un film</button>
        <!-- routerLink : permet de naviguer vers un autre composant sans recharger toute la page -->
    </div>
</div>
<div class="d-flex flex-wrap gap-3 justify-content-center" style="margin-top: 20px;">
    <div class="card" style="width: 18rem;" *ngFor="let film of films">
        <div class="card-body">
            <!-- Utilisant Interpolation pour afficher le titre du film -->
            <h6 class="card-subtitle mb-2 text-muted">{{ film.title}}</h6>
            <p class="card-text">{{film.description}}</p>
            <button class="btn btn-danger" (click)="deleteMovie(film.id)">delete</button><!-- Utilisant Event Binding pour supprimer un film -->
            <button class="btn btn-light" [routerLink]="['update' , film.id]">update</button>
        </div>
    </div>
</div>